#navbar{
    color: orange;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
    color: orange;
    /* background-color: aqua; */
    
}

li{
    list-style-type: none;
    display: inline;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inner{
    height: 200px;
    width: 200px;
    background-color: orange;
}

/* display: flex */
/* text align: center */
/* flex dierection: row, row reverse,column, coloumn reverse */
/* justify content: flex start, flex end, centre, space around, space evenly, space between*/
/* flex-wrap: wrap; */
/* align items: flex start, flex end, centre, space around, space evenly, space between*/
/* horizontaly kaj korar jonne justify content, vertically kaj korar jonne align items, most important lines */

/* align-content: flex start, flex end, centre, space around, space evenly, space between* */

/* align self er priority sobcheye beshi hoy */
/* flex-shrink age theke choto kore, flex grow ager theke boro kore */